ballpark==1.4.0
dvis==0.9.0.2
einops==0.3.0
h5py==3.7.0
hdbscan==0.8.29
hydra-core==1.3.2
imageio==2.31.1
imgviz==1.6.2
inflect==7.0.0
matplotlib==3.7.1
matplotlib==3.5.3
numpy==1.21.0
numpy==1.23.5
numpy==1.23.3
numpy_quaternion==2022.4.2
omegaconf==2.3.0
opencv_python==4.6.0.66
opencv_python_headless==4.7.0.72
Pillow==10.0.0
Pillow==9.4.0
Pillow==10.1.0
plyfile==0.7.4
pypng==0.20220715.0
pyquaternion==0.9.9
pyrender==0.1.45
pytorch_lightning==2.0.4
randomname==0.2.1
scikit_learn==1.2.0
scikit_learn==1.2.1
scipy==1.10.1
scipy==1.9.1
seaborn==0.11.2
tabulate==0.9.0
torch==2.0.1+cu118
torch_efficient_distloss==0.1.3
torch_scatter==2.1.1+pt20cu118
torchvision==0.15.2+cu118
tqdm==4.64.1
transforms3d==0.4.1
trimesh==3.22.4
